/build/.build
/build/.lock
/build/binary/
/build/binary.modified_timestamps
/build/cache/
/build/chroot/
/build/chroot.files
/build/local/
/build/source/
/build/stages/
/build/tmp/
/build/build.log
/build/*.contents
/build/*.hybrid.iso
/build/*.iso
/build/*.jigdo
/build/*.jigdo.template
/build/*.list
/build/*.manifest
/build/*.packages
/build/*.tar
/build/*.torrent
/build/*.zsync
/build/chroot.installed_tmp_pkgs
/build/chroot.packages.live
/build/chroot.packages.install
/build/live-image-amd64.contents
/build/live-image-amd64.files
/build/live-image-amd64.hybrid.iso
/build/live-image-amd64.packages
/build/config/apt
/build/config/archives
/build/config/binary
/build/config/bootloaders
/build/config/bootstrap
/build/config/chroot
/build/config/common
/build/config/debian-installer
/build/config/hooks/live/
/build/config/hooks/normal/
/build/config/includes
/build/config/includes.bootstrap
/build/config/includes.chroot_after_packages
/build/config/includes.chroot_before_packages
/build/config/includes.installer
/build/config/includes.source
/build/config/package-lists/live.list.chroot
/build/config/packages
/build/config/packages.binary
/build/config/packages.chroot
/build/config/preseed
/build/config/rootfs
/build/config/source
