/build/.build
/build/binary/
/build/cache/
/build/chroot/
/build/local/
/build/source/
/build/stages/
/build/tmp/
/build/build.log
/build/*.contents
/build/*.hybrid.iso
/build/*.iso
/build/*.jigdo
/build/*.jigdo.template
/build/*.list
/build/*.manifest
/build/*.packages
/build/*.tar
/build/*.torrent
/build/*.zsync
/build/config/binary
/build/config/bootstrap
/build/config/chroot
/build/config/common
/build/config/source
